body {
    margin-top: 15px;
  }
  
  h1 {
    text-align: center;
  }
  
  ul li {
    list-style: none;
    border: 1px solid black;
    padding: 5px;
    margin: 15px;
  }
  input {
    border: none;
    width: 100%;
  }
  button {
  border-radius: none;
  }